# compiled output
/dist
/node_modules

# environment variables
.env


#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

*.retry
playbooks/*.swp
